:root{
    --primary: #DF12E7;
    --hover: #cb10d1;
    --black: #111111;
    --white: #f7f7f7;
    --weak: #dc3545;
    --medium: #ffc107;
    --strong: #4da133;
    --very-strong: #17a2b8;
    --error: #dc3545; 

}
